body {
    background-color: #8b7d7b;
}

.container {
    background-color: #fff3e5;
    width: auto;
    max-width: 500px;
    padding: 20px 40px 20px 40px;
    margin: auto;
}

#inputs {
    clear: both;
}

input {
    border-radius: 2pt;
    width: 25m;
    border: 2px solid #7f90bc;
    display: block;
    margin: 2px;
}

.gender {
    display: inline;
}

.form {
    font-family: Arial, Sans-serif;
    border: 3px solid #00217a;
    padding: 10px;
    margin: 5px;
    width: 30em;
}

button {
    display: block;
    margin-top: 10px;
}



.contact {
    border: 3px solid #f2a1a1;
    padding: 10px;
    margin: 5px;
    width: 30em;
}

.info {
    overflow: auto;
}

img {
    padding-left: 40px;
    height: 100px;
    width: 100px;
    padding
}

ul {
     list-style-type: none;
 }

span {
    font-family: Arial, Sans-serif;
    font-weight: bold;
}

h1, h3 {
    text-align: center;
    font-family: Georgia, Serif;
}

a {
    text-decoration: none;
}
